@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;

}

:root{
    --main-Color: #545BE8;
    --main-Font:'Poppins', Sans-serif;
    --sub-Font:'Inter', sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    width: calc(100% - 120px);
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}