/*media query*/

/* header media query */
@media screen and (max-width: 992px) {
    .navbar,
    .authentication {
      display: none;
    }
    .menu {
      display: block;
    }
    
  }


  @media screen and (max-width: 576px) {
    .container{
      width: calc(100% - 50px);
  }   
  .header .logo img {
    width: 20px;
    }
  
  .header .logo a{
    font-size: 14px;
  }
}

  /* footer media query*/


@media screen and (max-width: 1200px) {
  .footer .row{
    gap:15px;
  }
.footer-start{
  width: 100%;
}

.footer-end{
  width: 100%;
  justify-content: space-between;
} 
}
@media screen and (max-width: 768px) {
  .footer-end{
    gap:15px;
  }
.footer-item{
  width: calc(50% - 15px);
}

}


@media screen and (max-width: 400px) {
  .footer-end{
    gap:15px;
  }
.footer-item{
  width: calc(100% - 15px);
}

}

